.closeTagContainer {
    width: 100px;
    height: 0;
    padding-top: 25px;
    position: relative;
}

.closeTag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 25px;
    background-color: #f7f7f7;
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 45px 50px;
    border-top-right-radius: 45px 50px;
    display: flex;
    justify-content: center;
    align-self: center;
}